 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8DA9C4;
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 800px;
} 

header {
    font-size: 1.2rem;
    padding: 1rem;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background: white;
}


form input {
    border-bottom-left-radius: 1rem;
    outline: none;
}

#searchbox {
    padding: rem;
    outline: none;
    
}

.search-btn {
    color: #6C7E93;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background: #0B2545;
    color: #8DA9C4;
}

.fa-search {
    color: #8DA9C4;
    font-size: 1.2rem;
}

.pokeCard {
    text-align: center;
    justify-content: center 
}  

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 900px;
    height: 500px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px #0B2545;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container .card:hover {
    height: 620px;
}

.container .card .image {
    position: relative;
    width: 480px;
    height: 480px;
    top: -2%;
    box-shadow: 0 5px 20px #0B2545;
    border-radius: 1rem;
    z-index: 1;
}

.container .card .content {
    position: relative;
    top: -10px;
    padding: 10px 15px;
    color: #0B2545;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    margin-top: 20px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

@media only screen and (max-width: 320px) {
    .searchbox {width: 8.33%;}

    .container .card .image {
        width: 100%;
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    searchbox {width: 10%;}
    .container .card .image {
        width: 100%;
    }
   
}

@media only screen and (min-width: 768px) and (max-width: 1024) {
    searchbox {width: ;}
}

@media only screen and (min-width: 1224px) {
    searchbox {width: ;}
}

@media only screen and (min-width: 1824px) {
    searchbox {width: ;}
}
