@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #0b2545;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
 .page_wrapper {
    width: 100%;
    height: auto;
 }
/* Navbar */
.nav {
    height: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #0b2545;
    padding: 10px 10px 10px 10px;
  }
  
  .nav-title img {
    height: 70px;
    width: auto;
    justify-self: start;
    
  }

  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 37px;
    text-decoration: none;
    color: #0b2545;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #6c7e93;
  }
  
  .nav > #nav-check {
    display: none;
  }

.mainp {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
}

/* main header */
header h1 {
    font-size: 2rem;
    padding-top: 1.5rem;
    color: #fff;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input and button in form*/
form input,
form button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background: white;
}

/* individual css for inupt */
form input {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    outline: none;
}

/* input text box */
#searchbox {
    outline: none;
    padding-top: 1rem;
}

/* search icon */
.search-btn {
    color: #6c7e93;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* hover over search icon */
.search-btn:hover {
    background: #0b2545;
    color: #8da9c4;
}

/* search icon fontawesome*/
.fa-search {
    color: #8da9c4;
    font-size: 1.2rem;
}

/* main container targeted by javascript */
.pokeCard {
    text-align: center;
    justify-content: center;
}

/* container created in javascript*/
.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* container where javascripts posts API data*/
.container .card {
    position: relative;
    max-width: 100%;
    height: 1150px;
    background-color: #fff;
    margin: 20px 5px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px #0b2545;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

/* hover over card reveals texts */
.container .card:hover {
    height: 300px;
}

/* image in the card container */
.container .card .image {
    position: relative;
    width: 100%;
    min-width: 450px;
    top: -10px;
    box-shadow: 0 5px 20px #0b2545;
    border-radius: 10px;
    z-index: 1;
}

/* texts that appear after hovering over card */
.container .card .content {
    position: relative;
    top: -10px;
    padding: 10px 15px;
    color: #0b2545;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card .content p {
    font-size: 1rem;
    font-weight: bold;
}

/* texts reveal after hovering */
.container .card:hover .content {
    margin-top: 20px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

/* For media screens 320px and lower */
@media only screen and (min-width: 320px) {
    header {
        font-size: 0.8rem;
    }
    .container .card .image {
        width: 100%;
        min-width: 90px;
        height: auto;
        top: -2%;
        box-shadow: 0 5px 20px #0b2545;
        border-radius: 1rem;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .container .card {
        position: relative;
        max-width: 100%;
        height: 500px;
        background-color: #fff;
        margin: 30px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px #0b2545;
        transition: 0.3s ease-in-out;
        border-radius: 15px;
    }
}

/* For media screens 600px and below   */
@media only screen and (min-width: 600px) {
    body {
        overflow-x: hidden;
    }
    header {
        font-size: 1.4rem;
    }
    image {
        width: 100%;
    }
    .container .card {
        position: relative;
        max-width: 100%;
        height: 500px;
        background-color: #fff;
        margin: 30px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px #0b2545;
        transition: 0.3s ease-in-out;
        border-radius: 15px;
    }
}

/* For media screens 800px and below */
@media only screen and (max-width: 800px) {
    header {
        padding-top: 1rem;
    }

    #searchbox {
        padding-top: 1rem;
    }
    .container .card {
        position: relative;
        max-width: 100%;
        height: 500px;
        background-color: #fff;
        margin: 30px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px #0b2545;
        transition: 0.3s ease-in-out;
        border-radius: 15px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        height: 50px;
        padding: 40px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 50px;
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 2px solid #0b2545;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 10px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 95px;
        left: 0px;
        z-index: 3;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
}


/* For media screens above 820px  */
@media only screen and (min-width: 820px) {
    .container .card:hover {
        height: 620px;
    }

    .container .card .image {
        position: relative;
        width: 100% !important;
        min-width: 450px !important;
        height: auto !important;
        top: -2%;
        box-shadow: 0 5px 20px #0b2545;
        border-radius: 1rem;
        z-index: 1;
    }

    .container .card .content {
        position: relative;
        top: -10px;
        padding: 10px 15px;
        color: #0b2545;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .container .card:hover .content {
        margin-top: 20px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0.2s;
    }
}